.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.dl-horizontal dt{
    text-align: left;
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
}

.animu-tag {
    margin-left:.2em;
}