<div class="row">
  <div class="col-xs-4"> 
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{subs.filename}}</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Мультик</dt><dd>{{subs.animu}}</dd>
          <dt>Серия</dt><dd>{{subs.ep}}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
    <accordion close-others="false">
      <accordion-group ng-repeat="line in subs.lines" 
                       heading="{{line.lines}}">
        <input type="text" class="form-control" 
               placeholder="Твой перевод"
               ng-model="line.translation"/>
      </accordion-group>
    </accordion>
  </div>
</div>
